body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.btn {
  background-color: green;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.warn {
  background-color: orange;
  color: white;
}

.late {
  background-color: red;
  color: white;
}
